<ion-header>
  <ion-navbar color="navBarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NHC | Log in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- login with email and password -->
  <ion-list class="login" *ngIf="userInfo && !userInfo.pin_login_enabled">
    <ion-item>
      <ion-label>E-Mail : </ion-label>
      <ion-input [(ngModel)]="user.email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password : </ion-label>
      <ion-input [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <button (click)="logIn()" ion-button color="primary" block>Log in</button>
    </ion-item>
    <br>
    <ion-item text-wrap *ngIf="switchLoginForms">
      <button (click)="switchToPINLoginForm()" ion-button color="primary" block>
        Using PIN to login?
      </button>
    </ion-item>
  </ion-list>

  <!-- login with pin -->
  <ion-list class="login" *ngIf="userInfo && userInfo.pin_login_enabled">
    <ion-item>
      <button (click)="showPinForm()" ion-button color="primary" block>Tap to log in</button>
    </ion-item>
  </ion-list>

  <ion-item text-wrap *ngIf="switchLoginForms">
    <p>Account not activated? Resend confirmation email bellow!</p>
    <button (click)="resendConfirmationEmail()" ion-button color="primary" block>Resend!</button>
  </ion-item>
</ion-content>
