<ion-header>
  <ion-navbar color="navBarColor">
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>NHC | Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="user.username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-Mail</ion-label>
      <ion-input [(ngModel)]="user.email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirm Password</ion-label>
      <ion-input [(ngModel)]="user.confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-list *ngIf="errors && errors.length > 0">
      <ion-item text-wrap *ngFor="let error of errors" class="errormsg">
        {{ error }}
      </ion-item>
    </ion-list>
    <ion-item>
      <button (click)="register()" ion-button color="primary" block>Sign Up</button>
    </ion-item>
  </ion-list>
</ion-content>
