<ion-header>
    <ion-navbar color="navBarColor">
      <ion-buttons end>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>NHC | Settings</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    
    <ion-list *ngIf="friends">
      <h1>Friends List</h1>

      <ion-item *ngIf="friends.length === 0">
        Friends list is empty at the moment.
      </ion-item>

      <div *ngIf="friends.length > 0">
        <ion-item-sliding *ngFor="let friend of friends">
          <ion-item>
            {{ friend.username }}
          </ion-item>

          <ion-item-options side="right">
              <button ion-button color="danger" (click)="confirmDeleteFriend(friend.id_user)">
                  <ion-icon name="trash"></ion-icon>
                Delete</button>
            </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
    <h1>Privacy settings</h1>
    
    <ion-list>
      <ion-item>
        <ion-label>Allow offline Messages
          <button (click)="displayOfflineMessagesInfo()">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-label>
        
        <ion-toggle
          (ionChange)="toggleOfflineMessages()"
          [(ngModel)]="isToggled"
          [checked]="user && user.allow_offline_messages">
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Allow Push Notifications
          <button (click)="displayPushInfo()">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-label>

        <ion-toggle
          (ionChange)="togglePush()"
          [(ngModel)]="isPushEnabled"
          [checked]="user && user.push_notifications_enabled"
        >
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Use app only on this device
          <button (click)="displayUniqueDeviceInfo()">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-label>

        <ion-toggle
          (ionChange)="toggleUniqueDevice()"
          [(ngModel)]="isUniqueDeviceToggled"
          [checked]="user && user.unique_device"
        >
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Use PIN to login.</ion-label>

        <ion-toggle
          (ionChange)="togglePinAuth()"
          [(ngModel)]="isPinAuthToggled"
          [checked]="user && user.pin_login_enabled"
        >
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>
          Use PIN to unlock the device.
          <button (click)="displayPINUnlockDeviceInfo()">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-label>

        <ion-toggle
          (ionChange)="togglePINUnlockDevice()"
          [(ngModel)]="isPINUnlockEnabled"
          [checked]="isPINUnlockEnabled"
        >
        </ion-toggle>
      </ion-item>

    </ion-list>

    <h1>Account settings</h1>
      <ion-list>
        <ion-item>
          <button
            style="text-transform: none;"
            ion-button full (click)="confirmChangePassword()"
          >Change Your Password</button>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="user && user.pin_login_enabled">
        <div>
          <ion-item>
            <button
              style="text-transform: none;"
              color="primary"
              ion-button full
              (click)="confirmPinChange()"
            >Change Your PIN
          </button>
          </ion-item>
        </div>
      </ion-list>
      
      <ion-list>
        <ion-item>
          <button
            style="text-transform: none;"
            color="danger"
            ion-button full
            (click)="confirmDeleteAccount()"
            >Delete Account!
          </button>
        </ion-item>
      </ion-list>

  </ion-content>