<ion-header>
    <ion-navbar color="navBarColor">
      <ion-buttons end>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>NHC | Settings</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    
    <ion-list *ngIf="friends">
      <h1>Friends List</h1>

      <ion-item *ngIf="friends.length === 0">
        Friends list is empty at the moment.
      </ion-item>

      <div *ngIf="friends.length > 0">
        <ion-item-sliding *ngFor="let friend of friends">
          <ion-item>
            {{ friend.username }}
          </ion-item>

          <ion-item-options side="right">
              <button ion-button color="danger" (click)="confirmDeleteFriend(friend.id_user)">
                  <ion-icon name="trash"></ion-icon>
                Delete</button>
            </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
    <h1>Privacy settings</h1>
    
    <ion-list>
      <ion-item>
        <ion-label>Allow offline Messages

          <button (click)="displayOfflineMessages()">
              <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-label>
        
        <ion-toggle
          (ionChange)="toggleOfflineMessages()"
          [(ngModel)]="isToggled"
          [checked]="user && user.allow_offline_messages">

        </ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Use app only on this device</ion-label>

        <ion-toggle
          (ionChange)="toggleUniqueDevice()"
          [(ngModel)]="isUniqueDeviceToggled"
          [checked]="user && user.unique_device"
        >
        </ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Use PIN to login.</ion-label>

        <ion-toggle
          (ionChange)="togglePinAuth()"
          [(ngModel)]="isPinAuthToggled"
          [checked]="user && user.pin_login_enabled"
        >
        </ion-toggle>
      </ion-item>

    </ion-list>

    <h1>Account settings</h1>
    
    <ion-list>
      <ion-title>Change your password</ion-title>
      <br/>

      <ion-list class="login">
        <ion-item>
          <ion-label>Current Password</ion-label>
          <ion-input [(ngModel)]="password.currentPassword" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>New Password</ion-label>
          <ion-input [(ngModel)]="password.newPassword" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Confirm New Password</ion-label>
          <ion-input [(ngModel)]="password.confirmNewPassword" type="password"></ion-input>
        </ion-item>

        <ion-list *ngIf="passwordErrors && passwordErrors.length > 0">
          <ion-item text-wrap *ngFor="let error of passwordErrors" class="errormsg">
            {{ error }}
          </ion-item>
        </ion-list>
        
        </ion-list>

        <ion-item>
          <button ion-button full (click)="confirmChangePassword()" >Change!</button>
        </ion-item>
      </ion-list>

      <ion-title>Delete my account</ion-title>
      <br/>

      <ion-list>
        <ion-item>
          <ion-label>Current Password</ion-label>
          <ion-input [(ngModel)]="deletePassword" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <button color="danger" ion-button full (click)="confirmDeleteAccount()" >Delete!</button>
        </ion-item>
      </ion-list>

  </ion-content>