<ion-header>
  <ion-navbar hideBackButton color="navBarColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>NHC | Main</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="notifications && notifications.length === 0">
    <ion-item>
      You have no notifications
    </ion-item>
  </ion-list>

  <ion-list *ngIf="notifications && notifications.length > 0">
    <button (click)="dismissAllNotifications()" ion-button block>Dismiss all notifications</button>
    <ion-item *ngFor="let notification of notifications" text-wrap>
      <ion-label *ngIf="notification.id_notification_type == 1">
        Friend Request from {{ notification.username }}
        <br/>
        <button (click)="confirmFriendRequest(notification.id_user,notification.id_notification)" ion-button color="primary">Confirm</button>
        <button (click)="dismissNotification(notification.id_notification)" ion-button color="primary">Dismiss</button>
      </ion-label>
      <ion-label *ngIf="notification.id_notification_type == 2">
        User {{ notification.username }} has confirmed your request
        <br/>
        <button (click)="dismissNotification(notification.id_notification)" ion-button color="primary">Dismiss</button>
      </ion-label>
      
      <button ion-button block *ngIf="notification.id_notification_type == 3">
        <!-- notification_type_3 -->
      </button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="pendingRequests && pendingRequests.length > 0">
    <ion-title>You have pending requests...</ion-title>
    
    <ion-item-sliding *ngFor="let pending of pendingRequests">
      <ion-item>
        {{ pending.username }}
      </ion-item>

      <ion-item-options side="right">
          <button ion-button color="danger" (click)="cancelRequest(pending.id_user)">
              <ion-icon name="trash"></ion-icon>
            Cancel</button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="friends && friends.length === 0">
    <ion-title>Friends</ion-title>
    <ion-item>
      Friends list is empty at the moment...
    </ion-item>
  </ion-list>

  <ion-list *ngIf="friends && friends.length > 0">
    <ion-title>Friends</ion-title>
    <ion-item *ngFor="let friend of friends">
      <button
        style="text-transform: none;"
        [class.border-green]="friend.online == 1"
        [class.border-red]="friend.online == 0"
        (click)="startChatting({ username:friend.username, id:friend.id_user })" 
        ion-button block color="primary"
      >
      {{ unreadMessages[friend.username] ? ['(',unreadMessages[friend.username].length,')'].join("") : '' }}
      {{ friend.username }}
      <span [class]="friend.online == 0 ? 'red' : 'green'" >&nbsp;{{ friend.online == 0 ? '(offline)' : '(online)' }}</span>
      </button>
    </ion-item>
  </ion-list>
</ion-content>