<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Start a conversation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Friends</p>
  <ion-list *ngIf="friends && friends.length === 0">
    <ion-item>
      You have no friends at the moment...
    </ion-item>
  </ion-list>
  <ion-list *ngIf="friends && friends.length > 0">
    <ion-item *ngFor="let friend of friends">
      <button (click)="startChatting({ username:friend.username, id:friend.id_user })" 
      ion-button block color="primary">{{ friend.username }}
      {{ friend.online == 0 ? '(offline)' : '' }}
      </button>
    </ion-item>
  </ion-list>
</ion-content>