<ion-header>
  <ion-navbar color="navBarColor">
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>NHC | Search for friends</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
  [(ngModel)]="searchQuery"
  [showCancelButton]="shouldShowCancel"
>
</ion-searchbar>
  
  <ion-list *ngIf="users && users.length === 0">
    <ion-item>
      No users found!
    </ion-item>
  </ion-list>
  <ion-list *ngIf="users && users.length > 0">
    <ion-item *ngFor="let u of users">
     {{ u.username }}
     <button ion-button (click)="addFriend(u.id_user)">Add Friend</button>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="search()">Search</button>
</ion-content>
